* {
  margin: 0px;
  padding: 0px;
}


body {
  font-size: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #e6e6e6;
}

.header {
  background: rgb(202, 202, 81);
  max-width: 100%;
  height: 250px;
}