* {
  margin: 0px;
  padding: 0px;
}


body {
  font-size: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #e6e6e6;
}

/*
**** Layout ****
*/

#header {
  background: #f7b600;
  padding: 15px;
  text-align: center;
}

#logo, #navegation {
  padding: 10px;
}

#posts {
  width: 920px;
  margin: 0 auto;
  padding: 15px;
}

#top__posts {
  width: 660px;
  float: left;
}

#side__posts {
  width: 240px;
  float: right;
}

.side__post {
  font-size: 0.8em;
  padding: 5px;
  border-bottom: 1px dotted #ccc;

}

.post {
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}

.side__container {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
}

#copyright {
  clear: both;
  text-align: center;
  padding: 15px;
  background: #ccc;
}

/*
**** Navegation ****
*/

a {
  text-decoration: none;
}

#navegation a:link, #navegation a:visited {
  color: #ffff;
  padding: 8px 12px;
}

#navegation a:hover {
  color: #f7b600;
  background: #ffff;
  text-decoration: none;
}

a:link, a:visited {
  color: #f7b600;
}

a:hover {
  text-decoration: underline;
}

/*
**** General ****
*/

h1 {
  color: #4e4e4e;
  font-size: 2.5em;
}

h2 {
  color: #f7e600;
}

h3 {
  color: #565656;
  background: #ccc;
  padding: 5px;
}

#white {
  color: white;
}

.date__post {
  font-size: 0.8em;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: block;
}
