* {
  margin: 0px;
  padding: 0px;
}


body {
  font-size: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #e6e6e6;
}

/*
**** Layout ****
*/

.header {
  background: #f7b600;
  padding: 15px;
  text-align: center;
}

.logo, .navegation {
  padding: 10px;
}

/*
**** Naveggation ****
*/

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #ffff;
  padding: 8px 12px;
}

a:hover {
  color: #f7b600;
  background: #ffff;
}

/*
**** General ****
*/

h1 {
  color: #4e4e4e;
  font-size: 2.5em;
}

.branco {
  color: white;
}